title  {
font-family: Times new roman;
font-size: 50px
color: darkblue;
}
body {
background-image: url('pink2.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
text-align: center;
font-family: verdana;
}

h2  {
	font-family: algerian;
	font-size: 220%;
}